*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.2rem;
    background-size: cover;
}
.text-center{
    padding:0 1rem
}

/* nav_bar_start */

header{
    width: 100%;
    background-color: #000;
    height: 54px;
    position: fixed;
    top: 0;
}
.nav-bar_fixing{
    width: 100%;
    height: 54px;

}
.text-center{
    width: 100%;
    text-align: center;
    color: #fff;
}
.text-center h1{
    margin-top: 3.5rem;
    
}
.text-center p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    
    
}
/* nav_bar_end */

/* container */

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    background-color: rgb(0, 162, 255, 0.3);
    height: 100%;
    padding: 2rem;
    color: #fff;
}
.form-row{
    margin: 1.2rem;
}
.labels{
    margin-bottom: 0.3rem;
}

/* form input  */

.form-row .fields input {
    width: 100%;
    height: 34px;
    outline: none;
    padding: 0.3rem;
    border-radius: 0.25rem;
    border: none;

}
.form-row .fields input:focus{
border: 1px solid blueviolet;
}
 
/* spacial span for small text in label */

span{
    font-size: 1rem;

}

/* dropdown selector */

.dropdown select{
    width: 100%;
    height: 34px;
    outline: none;
    border-radius: 0.25rem;
    border: none;
}
.dropdown select:focus{
    border: 1px solid blueviolet;
}

/* for radio type input */

.radio-box{
    margin-top: 0.7rem;
    margin-left: 1rem;
}
.radio-item{
    display: flex;
    margin-bottom: 0.5rem;
    
}
.radio-item .radio-input{
    display: flex;
    align-items: center;
}
    


.radio-item label{
    cursor: pointer;
}
.radio-item input{
    width: 37px;
    height: 18px;
    border: none;
    outline: none;
    cursor: pointer;

}


/* for checked items */

.check-box{
    margin-top: 0.7rem;
    margin-left: 1rem;
}
.check-item{
    display: flex;
    margin-bottom: 0.5rem;
}
.check-item .check-input{
    display: flex;
    align-items: center;
}
.check-item label{
cursor: pointer;
}
.check-item input{
    width: 37px;
    height: 18px;
    border: none;
    outline: none;
    cursor: pointer;
 
}


/* text area for comment */

.text-area textarea{
    width: 100%;
    height: 108px;
    outline: none;
    padding: 0.3rem;
    border: none;
   
}
.text-area textarea:focus{
    border: 1px solid blueviolet;  
}

/* button */

.btn input{
    width: 100%;
    height: 49px;
    background-color: #3b6;
    outline: none;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}